@import '../../function.scss';
@import './var.scss';

.intro {
  position: relative;
  z-index: 1;

  padding-top: 160px;

  background-color: var(--secondary-orange-color-hsl);

  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 60%;
    height: 100%;

    background-color: hsl(var(--base-secondary-orange-color), 94%);
  }

  &__inner {
    position: relative;
    z-index: 10;
  }

  &Controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 15px;

    padding-left: adaptive-clamp(370 + 32, $intro-info-max-width + 32, 991.98);

    &Dots {
      &__list {
        display: flex;
        align-items: center;

        gap: adaptive-clamp(5, 10);
      }

      &Item {
        &._activeDot {
          button {
            &:before {
              transform: scale(1);
            }

            span {
              background-color: var(--primary-orange-color-hsl);
            }
          }
        }

        button {
          position: relative;

          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          width: adaptive-clamp(20, 30);
          height: adaptive-clamp(20, 30);

          background-color: transparent;

          border-radius: 50%;

          border: none;

          span {
            width: adaptive-clamp(8, 10);
            height: adaptive-clamp(8, 10);

            background-color: hsl(var(--base-default-color), 85%);

            border-radius: 50%;

            transition: background-color 0.2s ease;
          }

          &:before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            border-radius: 50%;

            border: 2px solid var(--primary-orange-color-hsl);

            transform: scale(0);

            transition: transform 0.3s ease;
          }

          @media screen and (min-width: 991.98px) {
            &:hover {
              span {
                background-color: var(--primary-orange-color-hsl);
              }
            }

            &:focus {
              outline: none;

              span {
                background-color: var(--primary-orange-color-hsl);
              }
            }
          }
        }
      }
    }

    &Arrows {
      display: flex;
      align-items: center;
      gap: 10px;

      &__btn {
        button {
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 50px;
          height: 50px;

          border-radius: 50%;

          background-color: hsl(var(--base-primary-orange-color), 93%);
          border: none;

          transition: background-color 0.2s ease;

          svg {
            path {
              stroke: var(--primary-orange-color-hsl);

              transition: stroke 0.2s ease;
            }
          }

          @media screen and (min-width: 991.98px) {
            &:hover {
              background-color: var(--primary-orange-color-hsl);

              svg {
                path {
                  stroke: var(--white-color-hsl);
                }
              }
            }

            &:focus {
              outline: none;

              background-color: var(--primary-orange-color-hsl);

              svg {
                path {
                  stroke: var(--white-color-hsl);
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 991.98px) {
      padding-left: 0;
    }
  }

  &Info {
    $flex-gap: 16;
    $link-margin-top: 48;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    gap: adaptive-clamp(10, $flex-gap, 991.98);

    border-radius: var(--default-border-radius);

    padding: adaptive-clamp(30, 60, 991.98);

    max-width: adaptive-clamp(370, 500, 991.98);

    background-color: rgba(white, 0.72);

    backdrop-filter: blur(adaptive-clamp(3, 10, 991.98));

    box-shadow: 0 0 10px rgba(#000, 0.1);

    &__title {
      font-size: adaptive-clamp(40, 56, 991.98);
      font-weight: 700;
      line-height: adaptive-clamp(46, 67, 991.98);
    }

    &__text {
      color: var(--secondary-text-color-hsl);

      font-size: adaptive-clamp(18, 20, 991.98);
      line-height: adaptive-clamp(25, 30, 991.98);
    }

    &__link {
      margin-top: adaptive-clamp(20, $link-margin-top - $flex-gap, 991.98);

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: adaptive-clamp(20, 24, 991.98) 0;

        font-size: adaptive-clamp(18, 20, 991.98);

        transition: background-color 0.2s ease, transform 0.1s ease,
        box-shadow 0.2s ease;

        @media screen and (min-width: 991.98px) {
          &:hover {
            background-color: hsl(var(--base-primary-orange-color), 60%);
          }

          &:focus {
            outline: none;

            background-color: hsl(var(--base-primary-orange-color), 60%);

            box-shadow: 0 0 10px rgba(#000, 0.2);
          }
        }

        &:active {
          background-color: hsl(var(--base-primary-orange-color), 60%);

          transform: scale(0.98);
        }
      }
    }

    @media (max-width: 1300px) {
      left: 15px;
    }

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &Slider {
    margin-top: 30px;

    &__list {
      display: flex;
      align-items: center;

      gap: adaptive-clamp(24, 32);

    }

    &Item {

    }

  }

  &SlideInfo {
    position: absolute;
    bottom: 30px;
    right: adaptive-clamp(12, 350);
    z-index: 10;

    width: 100%;
    max-width: 300px;

    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;

    &._isAnimate {
      transform: scale(0.8);
      opacity: 0;
      visibility: hidden;

      .introSlideInfoHead {
        opacity: 0;
      }

      .introSlideInfoBody {
        opacity: 0;
      }

      .introSlideInfoFooter {
        opacity: 0;
      }
    }

    &__inner {
      border-radius: var(--default-border-radius);

      background-color: rgba(white, 0.72);

      backdrop-filter: blur(adaptive-clamp(2, 10));

      box-shadow: 0 0 10px rgba(#000, 0.1);

      padding: 24px;

      display: flex;
      flex-direction: column;

      gap: 5px;

      overflow: hidden;
    }

    &Head {
      font-size: adaptive-clamp(25, 28);
      font-weight: 600;
      line-height: adaptive-clamp(28, 33);
    }

    &Body {
      color: hsl(var(--base-default-color), 38%);
      line-height: 24px;
    }

    &Footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 15px;

      margin-top: adaptive-clamp(0, 10);

      &__price {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
      }

      &__link {
        a {
          transition: transform 0.2s ease;

          @media screen and (min-width: 991.98px) {
            &:focus {
              outline: none;

              transform: scale(1.5);
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      bottom: 185px
    }
  }

  @media (max-width: 991.98px) {
    padding-top: 120px;
  }

  @media (max-width: 675px) {
    padding-top: 100px;
  }
}
