@import '../function';

.header {
  --elements-padding: 13px;
  $default-header-height: 55;
  $mobile-header-height: 60;
  $mobile-border-bottom-height: 2;

  &__inner {
    position: relative;

    min-height: adaptive-clamp($mobile-header-height + $mobile-border-bottom-height, $default-header-height, 675);
    height: 1px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: adaptive-clamp(20, 40, 991.98);

    margin-top: adaptive-clamp(15, 40, 675);
  }

  &Logo {
    a {
      font-size: 24px;
      font-weight: 700;

      padding: var(--elements-padding);
    }

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &Burger {
    height: 100%;

    &__btn {
      cursor: pointer;

      position: relative;

      width: 45px;
      height: 100%;

      background-color: transparent;
      border: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 7px;

      &:after,
      &:before {
        content: '';

        display: block;

        width: calc(100% - var(--elements-padding));
        height: 2px;

        background-color: var(--black-color-hsl);
      }

      span {
        display: block;

        width: calc(100% - var(--elements-padding));
        height: 2px;

        background-color: var(--black-color-hsl);
      }
    }

    @media screen and (min-width: 991.89px) {
      display: none;
    }
  }

  &Nav {
    &__list {
      display: flex;
      align-items: center;
    }

    &Item {
      position: relative;

      &Head {
        display: flex;
        align-items: center;
        gap: 12px;

        position: relative;

        overflow: hidden;

        cursor: pointer;

        border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;

        transition: box-shadow 0.4s ease;

        a {
          display: block;
          padding: var(--elements-padding) 15px;
        }

        ._submenu & {
          padding: var(--elements-padding) 15px;
        }

        &:after,
        &:before {
          content: '';

          position: absolute;

          width: 100%;
        }

        &:after {
          bottom: 0;
          left: -100%;

          height: 2px;
          background-color: var(--primary-orange-color-hsl);

          transition: left 0.4s ease;
        }

        ._submenu & {
          &:before {
            bottom: 0;
            left: 0;
            z-index: -1;

            height: 100%;

            background-color: var(--white-color-hsl);

            transform: scale(0);

            transition: transform 0.4s ease;
          }
        }

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;

          transition: transform 0.4s ease;
        }
      }

      &Submenu {
        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;

        opacity: 0;
        visibility: hidden;

        transform: translateY(30px);

        transition: opacity 0.4s ease, visibility 0.4s ease,
        box-shadow 0.4s ease, transform 0.4s ease;

        &__list {
          background-color: var(--white-color-hsl);

          border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);

          overflow: hidden;
        }

        &__item {
          a {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            display: block;

            padding: var(--elements-padding) 20px;

            line-height: 25px;

            transition: background-color 0.4s ease;

            @media screen and (min-width: 991.98px) {
              &:hover {
                background-color: hsl(var(--base-primary-orange-color), 95%);
              }
            }

            &:focus {
              outline: none;

              background-color: hsl(var(--base-primary-orange-color), 95%);
            }
          }
        }
      }

      @media screen and (min-width: 991.98px) {
        &:hover {
          &._submenu {
            .headerNavItemHead {
              box-shadow: 0 0 5px rgba(black, 0.1);

              &:after {
                left: 0;
              }

              &:before {
                transform: scale(1);
              }

              &__icon {
                transform: rotate(180deg);
              }
            }
          }

          .headerNavItemHead:after {
            left: 0;
          }

          .headerNavItemSubmenu {
            opacity: 1;
            visibility: visible;

            transform: translateY(0);

            &__list {
              box-shadow: 0 0 5px rgba(black, 0.1);
            }
          }
        }


      }

      &:focus-within {
        outline: none;

        &._submenu {
          .headerNavItemHead {
            box-shadow: 0 0 5px rgba(black, 0.1);

            &:after {
              left: 0;
            }

            &:before {
              transform: scale(1);
            }

            &__icon {
              transform: rotate(180deg);
            }
          }
        }

        .headerNavItemHead:after {
          left: 0;
        }

        .headerNavItemSubmenu {
          opacity: 1;
          visibility: visible;

          transform: translateY(0);

          &__list {
            box-shadow: 0 0 5px rgba(black, 0.1);
          }
        }
      }

    }

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &MobileSearch {
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    transition: top .3s ease;

    &._isHeaderMobileSearchShow {
      top: 0;
    }

    &__inner {
      //position: relative;

      height: 100%;
    }

    @media (min-width: 675px) {
      display: none;

      &._isHeaderMobileSearchShow {
        display: none;
      }
    }
  }

  &Search {
    flex: 1 1 100%;

    height: 100%;
    max-height: 55px;
    max-width: 470px;
    min-width: 250px;

    &__inner {
      position: relative;
      z-index: 2;

      height: 100%;
    }

    &Form {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 100%;

      background-color: var(--white-color-hsl);

      overflow: hidden;

      @media (min-width: 675px) {
        border-radius: var(--default-border-radius);

        box-shadow: 0 0 5px rgba(black, 0.1);

        &:after {
          content: '';

          position: absolute;
          bottom: 0;
          right: -100%;

          width: 100%;
          height: 2px;

          background-color: var(--primary-orange-color-hsl);

          transition: right 0.4s ease;
        }

        &._isInputSearchFocused {
          &:after {
            right: 0;
          }
        }
      }


      &__icon {
        height: 100%;

        button {
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          height: 100%;

          padding: 0 var(--elements-padding) 0 var(--elements-padding);

          border: none;
          background-color: transparent;

          &.submitBtn {
            svg {
              width: 25px;
              height: 25px;
            }
          }

          &.returnBtn {
            display: none;

            svg {
              width: 25px;
              height: 25px;
            }
          }

          &:focus {
            outline: none;

            background-color: hsl(var(--base-default-color), 95%);
          }

          @media (max-width: 675px) {
            padding: 0 var(--elements-padding) 0 calc(var(--elements-padding) + var(--container-padding));


            &.submitBtn {
              display: none;
            }

            &.returnBtn {
              display: block;
            }
          }
        }
      }

      &__close {
        height: 100%;

        @media (min-width: 675px) {
          opacity: 0;
          visibility: hidden;

          transition: opacity .3s ease, visibility .3s ease;

          ._isInputSearchTyping & {
            opacity: 1;
            visibility: visible;
          }
        }

        button {
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          height: 100%;

          padding: 0 var(--elements-padding) 0 var(--elements-padding);

          border: none;
          background-color: transparent;

          &:focus {
            outline: none;

            background-color: hsl(var(--base-default-color), 95%);
          }

          svg {
            width: adaptive-clamp(25, 20);
            height: adaptive-clamp(25, 20);
          }

          @media (max-width: 675px) {
            padding: 0 calc(var(--elements-padding) + var(--container-padding)) 0 var(--elements-padding);
          }
        }
      }

      &__input {
        position: relative;

        width: 100%;
        height: 100%;

        ._isInputSearchTyping & {
          label {
            left: 25px;

            opacity: 0;
            visibility: hidden;

            transition: left 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
          }
        }

        label {
          pointer-events: none;

          position: absolute;
          top: 50%;
          left: 0;

          width: 100%;

          transform: translateY(-50%);

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          transition: left 0.2s ease, opacity 0.3s ease, visibility 0.3s ease;
        }

        input {
          width: 100%;
          height: 100%;

          padding: 14.5px 0;

          border: none;
          background-color: transparent;

          transition: padding 0.4s ease;

          &:focus {
            outline: none;
          }
        }
      }
    }

    &Results {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 95%;

      transform: translateX(-50%);

      transition: top 0.3s ease;

      &._isResultsListShow {
        top: 100%;
      }

      &__list {
        overflow: auto;

        min-height: 44px;
        max-height: 216px;

        opacity: 0;
        visibility: hidden;

        background-color: var(--white-color-hsl);

        box-shadow: 0 0 5px rgba(black, 0.1);

        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);

        transition: opacity 0.3s ease, visibility 0.3s ease;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: hsl(var(--base-primary-orange-color), 75%);
          border-radius: 40px;
        }


        ._isResultsListShow & {
          opacity: 1;
          visibility: visible;
        }
      }

      &__item {
        @keyframes show {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        animation: show .4s ease forwards;

        &._loader {
          @keyframes loading {
            100% {
              transform: rotate(360deg);
            }
          }

          display: flex;
          align-items: center;
          justify-content: center;

          padding: 10px;

          svg {
            animation: 2s linear 0s normal none infinite running loading;
          }
        }

        &._notFound {
          padding: var(--elements-padding) 20px;
        }

        &._errorMessage {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding: var(--elements-padding) 20px;

          background-color: var(--red-color-hsl);

          span {
            svg {
              width: 20px;
            }

          }
        }

        a {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          padding: var(--elements-padding) 20px;

          transition: background-color 0.4s ease;

          @media screen and (min-width: 991.98px) {
            &:hover {
              background-color: hsl(var(--base-primary-orange-color), 95%);
            }
          }

          &:focus {
            outline: none;

            background-color: hsl(var(--base-primary-orange-color), 95%);
          }
        }
      }

      @media (max-width: 675px) {
        width: 100%;

        &:after {
          content: '';

          position: absolute;
          top: 0;
          left: -100%;

          width: 100%;
          height: 2px;

          background-color: var(--primary-orange-color-hsl);

          transition: left .5s ease .3s;
        }

        &._isResultsListShow {
          &:after {
            left: 0;
          }
        }

        &__list {
          max-height: calc(100vh - #{$mobile-header-height + px});
        }
      }
    }

    @media (max-width: 991.98px) {
      max-width: none;
    }

    @media (max-width: 675px) {
      &:not(.headerMobileSearch &) {
        display: none;
      }

      max-height: none;

      &__inner {

      }

    }
  }

  &Actions {
    flex: 1 1 auto;

    height: 100%;

    &__list {
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: adaptive-clamp(9, 16, 991.98);
    }

    &__item {
      a {
        display: block;
        padding: var(--elements-padding);
      }

      &:last-child {
        &:not(._search) {
          border-radius: 100%;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
        }
      }

      &._search {
        height: 100%;
        display: none;

        cursor: pointer;

        padding: 0 var(--elements-padding);

      }

      @media (max-width: 675px) {
        display: none;

        &._search {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    @media (max-width: 991.98px) {
      flex: 0 1 auto;
    }
  }

  @media (max-width: 991.98px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
  }

  @media (max-width: 675px) {
    &__inner {
      margin-top: 0;

      background-color: var(--white-color-hsl);

      box-shadow: 0 0 5px rgba(black, 0.1);

      border-bottom: #{$mobile-border-bottom-height + px} solid var(--primary-orange-color-hsl);
    }
  }
}

._submenu {
}

._isInputSearchFocused {
}

._isInputSearchTyping {
}

._isResultsListShow {
}

._loader {
}

._notFound {
}

._errorMessage {
}

._search {
}

._isHeaderMobileSearchShow {
}