@import './_vars.scss';

.sidebarContent {
  position: absolute;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100vh;

  background-color: var(--white-color-hsl);

  box-shadow: 0 0 10px rgba(#000, 0.2);

  overflow: auto;

  transition: left 0.2s ease;

  ._isSidebarShow & {
    left: 0;
  }

  &__inner {
    position: relative;

    width: 100%;
    height: 100%;
  }
}

@import './SidebarContentHead.module.scss';
@import './SidebarContentProfile.module.scss';
@import './SidebarContentNav.module.scss';
