.sidebarContentProfile {
  margin-bottom: 10px;


  a {
    display: flex;
    align-items: center;

    gap: 15px;

    background-color: hsl(var(--base-default-color), 98%);

    box-shadow: 0 0 10px rgba(#000, 0.15);

    padding: 15px;

    &:active {
      transform: scale(0.99);

    background-color: hsl(var(--base-default-color), 95%);

    }
  }

  &__avatar {

    border-radius: 50%;

    overflow: hidden;

    background-color: var(--default-highlight-clicked-color-hsl);
  }

}
