@import './_vars.scss';

.sidebarContentHead {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: #{$head-height + px};

  padding: 0 10px;

  background-color: var(--white-color-hsl);

  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);

  box-shadow: 0 0 10px rgba(#000, 0.15);

  button {
    cursor: pointer;

    height: 100%;

    background-color: transparent;
    border: none;

    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      border-radius: 50%;

      background-color: var(--default-highlight-clicked-color-hsl);

      .buttonInner {
        background-color: var(--default-highlight-clicked-color-hsl);
      }
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__close {
    height: 100%;

  }

  &__notify {
    height: 100%;

    button {
      position: relative;

      &:before {
        content: attr(data-counter);

        position: absolute;
        top: 5px;
        right: -5px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 30px;
        height: 30px;

        font-size: 15px;

        border-radius: 50%;

        border: 2px solid var(--primary-orange-color-hsl);

        background-color: hsl(var(--base-primary-orange-color), 93%);

      }
    }
  }
}
