:root {
  --base-default-color: 0, 0%;
  --base-primary-orange-color: 23, 72%;
  --base-secondary-orange-color: 32, 57%;
  --base-red-color: 0, 100%;

  --black-color-hsl: hsl(var(--base-default-color), 0%);
  --white-color-hsl: hsl(var(--base-default-color), 100%);
  --primary-orange-color-hsl: hsl(var(--base-primary-orange-color), 68%);
  --secondary-orange-color-hsl: hsl(var(--base-secondary-orange-color), 97%);
  --red-color-hsl: hsl(var(--base-red-color), 80%);

  --max-width: 1920;

  --container-width: 1240px;
  --container-padding: 15px;
  --max-width-container: calc(
    var(--container-width) + var(--container-padding) * 2
  );

  --default-font-family: 'Gilroy', sans-serif;
  --default-font-size: 16px;
  --default-font-weight: 500;
  --default-font-style: normal;
  --default-border-radius: 12px;

}
